<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream21th.web.dao.SysRoleMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dream21th.web.bean.SysRoleMenu">
		<id column="role_id" property="roleId" />
		<result column="menu_id" property="menuId" />
	</resultMap>

    <insert id="batchInsert">
       insert into sys_role_menu(role_id, menu_id) values
       <choose>
          <when test="menuIds!=null and menuIds.size>0">
	          <foreach collection="menuIds" item="menuId" index="index" separator=",">
				(#{roleId},#{menuId})
			  </foreach>
          </when>
          <otherwise>
                (#{roleId},0)
          </otherwise>
       </choose>
    </insert>
</mapper>
